In [ ]:
import pandas as pd
import numpy as np

!gdown 1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq
!gdown 1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc
!gdown 10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE
!gdown 1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT

Downloading...
From: https://drive.google.com/uc?id=1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq
To: /content/transactions.csv
100% 314M/314M [00:03<00:00, 81.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc
To: /content/tr_types.csv
100% 14.2k/14.2k [00:00<00:00, 11.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE
To: /content/tr_mcc_codes.csv
100% 14.9k/14.9k [00:00<00:00, 14.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT
To: /content/gender_train.csv
100% 99.9k/99.9k [00:00<00:00, 48.0MB/s]

In [ ]:
transactions = pd.read_csv("/content/transactions.csv", nrows=1000000)
tr_mcc_codes = pd.read_csv("/content/tr_mcc_codes.csv", sep=";")
tr_types = pd.read_csv("/content/tr_types.csv", sep=";")
gender_train = pd.read_csv("/content/gender_train.csv")

## Задание 0

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки [data](https://drive.google.com/drive/folders/1YAMe7MiTxA-RSSd8Ex2p-L0Dspe6Gs4L). 

Для таблицы transactions используйте только первые n=1000000 строк. При чтении файлов обратите внимание на разделители внутри каждого из файлов - они могут различаться!

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;


Задания 1-4 делаются без использования merge!

## Задание 1

1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description в датасете tr_types), в которой содержится подстрока 'POS' или 'ATM'

In [ ]:
tr_type_sample = transactions.sample(1000)
print("First task:", "\n")
print(tr_type_sample["tr_type"], "\n")

print("Second task:", "\n")
condition = ((tr_types["tr_description"].str.contains("POS")) | (tr_types["tr_description"].str.contains("ATM")))
types_with_condition = tr_types.tr_type[condition]
counter = (tr_type_sample.tr_type.isin(types_with_condition)).value_counts()[True]
print(counter/len(tr_type_sample), "\n")

First task:

247287    1110
868384    1110
27817     1110
271285    1110
2240      1010
          ...
371937    7070
65892     2370
393854    7070
199751    1110
602632    1010
Name: tr_type, Length: 1000, dtype: int64

Second task:

0.386

## Задание 2

1. Для столбца tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости (вывести для них tr_description тоже).

In [ ]:
number_of_transactions = transactions["tr_type"].value_counts().sum()
print("First part:")
frequency = transactions["tr_type"].value_counts()/number_of_transactions
print(frequency, "\n")
print("Second part:")
frequency.head(10)

First part:
1010    0.231117
2010    0.151166
7070    0.149006
1110    0.137658
1030    0.118975
          ...
2446    0.000004
4096    0.000004
8146    0.000003
1510    0.000002
8100    0.000002
Name: tr_type, Length: 72, dtype: float64

Second part:

1010    0.231117
2010    0.151166
7070    0.149006
1110    0.137658
1030    0.118975
2370    0.049830
7010    0.028972
7030    0.026078
7071    0.015781
1100    0.015476
Name: tr_type, dtype: float64

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите модуль разницы для этих клиентов между суммой расходов и суммой приходов

In [ ]:
#1
customers = transactions[["customer_id","amount"]]
profit = customers[customers["amount"] > 0]
expenditure = customers[customers["amount"] < 0]

max_profit = profit.groupby("customer_id").sum()
answer1 = max_profit.sort_values(by="amount").tail(1)

print("First task:")
print(answer1, "\n")

#2
max_expenditure = expenditure.groupby("customer_id").sum()
answer2 = max_expenditure.sort_values(by="amount").head(1)

print("Second task:")
print(abs(answer2), "\n")


#3
print("Third task:")
print(abs(abs(answer1) - abs(answer2)))

First task:
                   amount
customer_id
70780820     1.248115e+09

Second task:
                   amount
customer_id
70780820     1.249952e+09

Third task:
                 amount
customer_id
70780820     1837317.98

## Задание 4
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций для клиентов из задания 3

In [ ]:
#1
print("First task:", "\n")
frequency = transactions["tr_type"].value_counts()
top_10_transactions = list(frequency.head(10).index)

transactions_top_10 = transactions[transactions.tr_type.isin(top_10_transactions)]
print("Mean\n", transactions_top_10.groupby("tr_type")["amount"].mean(), "\n")
print("Median\n",transactions_top_10.groupby("tr_type")["amount"].median(), "\n")

#2
print("Second task:", "\n")

max_customer_id = list(answer1.index)[0]
max_customer_transactions = transactions[transactions["customer_id"] == max_customer_id]
print("Mean\n", max_customer_transactions.groupby("tr_type")["amount"].mean(), "\n")
print("Median\n",max_customer_transactions.groupby("tr_type")["amount"].median(), "\n")

First task:

Mean
 tr_type
1010    -19784.748640
1030     -5320.980222
1100    -44061.827262
1110    -32119.330371
2010   -136077.629325
2370   -205418.249032
7010    276391.789596
7030     86104.332909
7070     65569.831700
7071     66806.826623
Name: amount, dtype: float64

Median
 tr_type
1010     -7411.52
1030     -2245.92
1100    -10188.26
1110    -11207.57
2010    -44918.32
2370    -44918.32
7010    112295.79
7030     13951.52
7070     11319.42
7071      3593.47
Name: amount, dtype: float64

Second task:

Mean
 tr_type
2010   -2.941056e+06
2330   -2.382398e+06
2370   -2.218505e+06
6110    1.756293e+04
7020    1.465129e+04
7021    2.850067e+04
7030    1.406196e+04
7031    1.921036e+04
7034    1.430648e+04
7040    2.153833e+04
7070    1.384821e+04
7071    1.860057e+04
7074    2.281159e+04
Name: amount, dtype: float64

Median
 tr_type
2010   -3368873.660
2330   -2245915.770
2370   -2245915.770
6110      10028.010
7020      10319.985
7021      28500.670
7030       8848.910
7031      12992.620
7034      14306.480
7040      14396.320
7070       8714.150
7071      12543.440
7074       9387.930
Name: amount, dtype: float64

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

(999584, 9)

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том, 
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

In [ ]:
#1
print("First task:", "\n")
expenditure_gender = list(transactions[transactions["amount"] < 0].groupby("gender").amount.mean())
print(abs(expenditure_gender[0] - expenditure_gender[1]), "\n")

#2
print("Second task:", "\n")
profit_gender = list(transactions[transactions["amount"] > 0].groupby("gender").amount.mean())
print(abs(profit_gender[0] - profit_gender[1]))

First task:

32718.054920224655

Second task:

63366.57104801464

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 типов транзакций для мужчин и для женщин, наименьших среди всех типов транзакций по полученным значениям "max_income". 
2. Выделите среди них те типы транзакций, которые встречаются одновременно и у мужчин, и у женщин

In [ ]:
#1
print("First task:", "\n")
max_income = transactions[transactions["amount"] > 0].groupby(["gender", "tr_type"])["amount"].sum()
sorted_max_income_0 = max_income[0].sort_values().head(10)
sorted_max_income_1 = max_income[1].sort_values().head(10)
print("0\n", sorted_max_income_0, "\n1\n", sorted_max_income_1, "\n")

#2
print("Second task:", "\n")
intersection = pd.merge(sorted_max_income_0, sorted_max_income_1, on = ["tr_type"], how='inner', copy=True).sort_values(by="tr_type")
print(intersection)

First task:

0
 tr_type
4051     1122.96
4210     2245.92
4110     2245.92
2370     2335.75
7075     6737.75
2110    22459.16
1010    31532.66
4100    40334.88
2210    68315.82
1210    83644.87
Name: amount, dtype: float64
1
 tr_type
2020      2245.92
4110      4491.84
1010     35317.03
8100     64682.37
6000     79280.83
7041     87590.72
2370    113194.15
7015    121279.45
2110    179673.26
2010    224591.59
Name: amount, dtype: float64

Second task:

         amount_x   amount_y
tr_type
1010     31532.66   35317.03
2110     22459.16  179673.26
2370      2335.75  113194.15
4110      2245.92    4491.84

## Задание 7

1. Найдите суммы затрат по каждой категории (mcc) для мужчин и для женщин. 
2. Найдите топ 10 категорий с самыми большими относительными модулями разности в тратах для разных полов (в ответе должны присутствовать описания mcc кодов).

In [ ]:
#1
print("First task:", "\n")
transactions_mcc_gender = transactions[transactions["amount"] < 0].groupby(["gender", "mcc_code"])["amount"].sum()
print(transactions_mcc_gender, "\n")

#2
print("Second task:", "\n")
transactions_mcc_gender_difference = abs(transactions_mcc_gender[0] - transactions_mcc_gender[1])
top10_transactions_mcc_gender_difference = transactions_mcc_gender_difference.sort_values(ascending=False).head(10)
codes_with_descriptions = pd.merge(top10_transactions_mcc_gender_difference, tr_mcc_codes, on = ["mcc_code"], how='inner', copy=True).sort_values(["amount"], ascending=False)
codes_with_descriptions

First task:

gender  mcc_code
0.0     742          -386207.68
        1711         -674897.69
        1799         -261626.73
        2741          -20746.42
        3000       -74431645.27
                       ...
1.0     8999       -28643346.63
        9222         -988205.17
        9311         -373271.22
        9399        -1810820.67
        9402           -4581.67
Name: amount, Length: 349, dtype: float64

Second task:

   mcc_code        amount                                    mcc_description
0      6011  3.085862e+09  Финансовые институты — снятие наличности автом...
1      4829  2.499153e+09                                  Денежные переводы
2      6010  2.208580e+08   Финансовые институты — снятие наличности вручную
3      5541  1.554326e+08                            Станции техобслуживания
4      5511  7.352877e+07  Легковой и грузовой транспорт — продажа, серви...
5      5812  7.037856e+07             Места общественного питания, рестораны
6      5977  4.241762e+07                                 Магазины косметики
7      5533  4.233808e+07                          Автозапчасти и аксессуары
8      7995  4.079564e+07                       Транзакции по азартным играм
9      5661  3.815470e+07                                   Обувные магазины

In [ ]:
#дополнительно
buff = transactions_mcc_gender
transactions_mcc_gender['max spendings'] = np.where((transactions_mcc_gender[0] - transactions_mcc_gender[1]) > 0, 0, 1)
print(transactions_mcc_gender)
zero_gender = buff[(buff[0] - buff[1]) > 0].head(5)
one_gender = buff[(buff[0] - buff[1]) < 0].head(5)
print(zero_gender)
print(one_gender)

gender         mcc_code
0.0            742          -386207.68
               1711         -674897.69
               1799         -261626.73
               2741          -20746.42
               3000       -74431645.27
                              ...
1.0            9222         -988205.17
               9311         -373271.22
               9399        -1810820.67
               9402           -4581.67
max spendings                        0
Name: amount, Length: 350, dtype: object
mcc_code
742     -132277.93
1711     -206264.9
1731    -121542.67
1799   -1129257.68
2741    -221290.08
Name: amount, dtype: object
mcc_code
742      -386207.68
1711     -674897.69
1799     -261626.73
2741      -20746.42
3000   -74431645.27
Name: amount, dtype: object

In [ ]:
one_gender

mcc_code
742      -386207.68
1711     -674897.69
1799     -261626.73
2741      -20746.42
3000   -74431645.27
Name: amount, dtype: object

In [ ]:
zero_gender

mcc_code
742     -132277.93
1711     -206264.9
1731    -121542.67
1799   -1129257.68
2741    -221290.08
Name: amount, dtype: object

## Задание 8

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте количество транзакций с amount<0 в ночное время для мужчин и женщин. Ночное время - это примерно 00-06 часов.

In [ ]:
#1
print("First task\n")
transactions["tr_hour"] = (transactions["tr_datetime"].str.split(" ", expand=True)[1].str.split(":", expand=True)[0])
print(transactions[["tr_datetime", "tr_hour"]], "\n")

#2
print("Second task\n")
result = transactions[(transactions["amount"] < 0) & (transactions["tr_hour"].astype(int) <= 6)].groupby("gender")["amount"].count()
print(result)

First task

         tr_datetime tr_hour
0         0 10:23:26      10
1         6 07:08:31      07
2         8 07:06:10      07
3        11 08:49:03      08
4        11 14:12:08      14
...              ...     ...
999579   18 23:38:60      23
999580  206 19:00:10      19
999581   90 22:40:57      22
999582  104 23:39:35      23
999583  105 23:38:49      23

[999584 rows x 2 columns]

Second task

gender
0.0    43510
1.0    46694
Name: amount, dtype: int64